.signInSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: rgba(211, 218, 218, 0.562);
    margin: 20px;
    width: 300px;
}

.mainContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginText h1 {
    font-size: 20px;
    margin: 5px;
}
